@charset "UTF-8";

body {
    background-image: radial-gradient(white, gray, black);
}

main {
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px white;
}

main > pre > code {
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 38pt;
    text-shadow: 2px 2px 2px gray;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 8px white;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    text-align: left;
}

h3 {
    font-family: cursive;
    font-size: 16pt;
    text-align: left;
}

h4 {
    text-align: left;
    font: italic normal 1.3em 'fantasy';
    background-color: rgba(0, 0, 0, 0.26);
    padding: 15px;
    border-radius: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-indent: 30px;
}

p#imagem {
    text-align: center;
}

table {
    width: 600px;
    border-collapse: collapse;
    position: relative;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    background-color: lightgray;
}

tbody > tr > th {
    text-align: left;
}

thead, tfoot {
    background-color: rgb(60, 60, 60);
    color: white;
}

td.num {
    text-align: right;
}

tbody > tr:nth-child(even) {
    background-color: lightgray;
}

thead > tr > th {
    position: sticky;
    top: 0;
    background-color: rgb(60, 60, 60);
}

caption {
    border: 1px solid black;
}